# Byte-compiled / оптимизированные / скомпилированные файлы
__pycache__/
*.py[cod]
*$py.class

# Файлы C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtualenv
venv/
ENV/
env/
.venv/
env.bak/
venv.bak/

# Pip files
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.hypothesis/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# MyPy
.mypy_cache/

# Pyre
.pyre/

# Django stuff
*.log
local_settings.py
db.sqlite3

# Flask stuff
instance/
*.log
*.db

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/

# Pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# System-specific
.DS_Store
Thumbs.db

# Virtual Studio specific
.vs/
